h1 {
  font-family: "Raleway", sans-serif;
  font-size: 62px;
  font-weight: 500;
  line-height: 72px;
  margin: 0 0 24px;
  text-transform: uppercase;
}
h5,
h1 {
  color: #ffffff;
}

#top {
  background-color: #0000b3;
}
.card-header {
  color: #0000b3;
  font-size: x-large;
  font-weight: 100;
  text-transform: uppercase;
}
a {
  color: black;
}

h3 {
  border: solid;
  text-align: center;
  background-color: #6495ed;
}

#items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-content: space-between;
}
