<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <title>liste des cours et des étudiants</title>
</head>

<body>
  <div>Liste des étudiants</div>

  <main layout:fragment="content">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">LISTE DES ETUDIANTS</div>
          <div class="card-body">

            <form class="form-inline" th:action="@{/search}" method="post">
              <div class="form-group mx-sm-3 mb-2">
                <label for="nom" class="sr-only">Recherche par le nom</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder=" entrez le nom">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>

            <div th:if="${not #lists.isEmpty(students)}">

              <table class="table table-success table-striped" method="post">
                <caption></caption>
                <tr>
                  <th>Matricule</th>
                  <th>Nom</th>
                  <th>Genre</th>
                  <th>Section</th>
                </tr>
                <tr th:each="student:${students}">

                  <!--    <td th:text="*{#strings.toUpperCase(student.matricule)}"> -->
                  <td>
                    <a th:text="*{#strings.toUpperCase(student.matricule)}"
                      th:href="@{/students/{studentId}/details(studentId=${student.matricule})}"> </a>
                  </td>
                  <td th:text="*{#strings.toUpperCase(student.nom)}">

                  </td>
                  <td th:text="*{#strings.toUpperCase(student.genre)}">

                  </td>
                  <td th:text="*{#strings.toUpperCase(student.section)}">

                  </td>
                </tr>
              </table>
            </div>
            <div th:if="${#lists.isEmpty(students)}">
              <p>Aucun Etudiant</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">Ajouter un Etudiant</div>
          <div class="card-body">
            <form th:action="@{/addStudent}" th:object="${student}" method="post">
              <div class="mb-3">
                <div class="form-group">

                  Nom <input type="text" th:field="*{nom}" placeholder="nom de l'étudiant...">
                  <br><br>
                  <span>Genre : </span>


                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" id="btnradio1" class="custom-control-input" th:value="GESTION"
                      th:field="*{section}">
                    <label class="btn btn-outline-primary" for="btnradio1">GESTION</label>

                    <input type="radio" id="btnradio2" class="custom-control-input" th:value="INDUSTRIELLE"
                      th:field="*{section}">
                    <label class="btn btn-outline-primary" for="btnradio2">INDUSTRIELLE</label>

                    <input type="radio" id="btnradio3" class="custom-control-input" th:value="RESEAU"
                      th:field="*{section}">
                    <label class="btn btn-outline-primary" for="btnradio3">RESEAU</label>
                  </div>
                  <br><br>
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" id="btncheck1" th:value="MALE" th:field="*{genre}">

                    <label class="btn btn-outline-primary" for="btncheck1">Homme</label>

                    <input type="radio" th:value="FEMALE" class="btn-check" id="btncheck2" th:field="*{genre}">
                    <label class="btn btn-outline-primary" for="btncheck2">Femme</label>
                  </div>
                </div>
              </div>
          </div>
          <button type=" submit" class="btn btn-primary col-3">Ajouter</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </main>

</body>

</html>